/* Lists of stories */

.stories-list {
  margin: 15px 5px;
}

.stories-list>li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

hr {
  background-color: #E5E5E5;
  height: 1px;
  border: 0;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.star:hover,
.trash:hover {
  cursor: pointer;
}

.story-author {
  display: block;
  color: #008100;
  font-size: 1em;
}

.story-user {
  display: block;
  color: #FFA800;
  font-size: 1em;
}